<!DOCTYPE html>
<html>
  <head>
    <title>jefferson</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Olá Mundo! <%= nomeUsuario %></h1>
     <form action="/confirmarcontato" method="GET">
        <input type="text" name="nome" id="">
        <input type="email" name="email" id="">
        <button type="submit">Enviar</button>

     </form>
  </body>
</html>
