<!DOCTYPE html>
<html>
  <head>
    <title>jefferson</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Você criou um produto com sucesso!</h1>
    
  </body>
</html>

